`reverse_proxy` fails to complete HTTP/1.1 upgrade mechanism if  `Connection: upgrade` header not contained in response

### Background Information

Running Caddy `2.7.6` on Docker `25.0.3`.

Some of our users reported that they cannot use Caddy as a reverse proxy for our backup server (Proxmox Backup Server, or PBS), specifically when creating backups; the web UI works just fine. Curiously however, backups worked when using nginx instead, so I decided to look into this.

I found out rather quickly that Caddy returns a `200 OK` instead of the `101 Switching Protocols` from the original response. Upon turning on debug logging in my `Caddyfile`, I found the following error:
> `backend tried to switch to unexpected protocol via Upgrade header`
```json
{
  "upstream": "172.16.64.78:8007",
  "duration": 0.000867655,
  "request": {
    "remote_ip": "172.16.64.110",
    "remote_port": "57594",
    "client_ip": "172.16.64.110",
    "proto": "HTTP/1.1",
    "method": "GET",
    "host": "172.16.64.78:8007",
    "uri": "//api2/json/backup?backup-id=100&backup-time=1709125659&backup-type=ct&benchmark=false&debug=true&store=default",
    "headers": {
      "X-Forwarded-Host": [
        "foo.backend.ltd:8007"
      ],
      "Connection": [
        "Upgrade"
      ],
      "User-Agent": [
        "proxmox-backup-client/1.0"
      ],
      "X-Forwarded-Port": [
        "8007"
      ],
      "Cookie": [],
      "Csrfpreventiontoken": [
        "tokengoeshere"
      ],
      "Upgrade": [
        "proxmox-backup-protocol-v1"
      ],
      "Content-Type": [
        "application/x-www-form-urlencoded"
      ],
      "X-Real-Ip": [
        "172.16.64.110:57594"
      ],
      "X-Forwarded-For": [
        "172.16.64.110:57594"
      ],
      "X-Forwarded-Proto": [
        "https"
      ]
    },
    "tls": {
      "resumed": false,
      "version": 772,
      "cipher_suite": 4867,
      "proto": "",
      "server_name": "foo.backend.ltd"
    }
  },
  "backend_upgrade": "",
  "requested_upgrade": "proxmox-backup-protocol-v1"
}
```

As you can see, the `backend_upgrade` key appears to be empty.

I initially suspected that we didn't include the `Upgrade` header in our response - or that somehow Caddy didn't receive the response correctly - but the debug logs preceding the one above disproved that:

```json
{
  "upstream": "172.16.64.78:8007",
  "duration": 0.000867655,
  "request": {
    "remote_ip": "172.16.64.110",
    "remote_port": "57594",
    "client_ip": "172.16.64.110",
    "proto": "HTTP/1.1",
    "method": "GET",
    "host": "172.16.64.78:8007",
    "uri": "//api2/json/backup?backup-id=100&backup-time=1709125659&backup-type=ct&benchmark=false&debug=true&store=default",
    "headers": {
      "X-Forwarded-Host": [
        "foo.backend.ltd:8007"
      ],
      "Connection": [
        "Upgrade"
      ],
      "User-Agent": [
        "proxmox-backup-client/1.0"
      ],
      "X-Forwarded-Port": [
        "8007"
      ],
      "Cookie": [],
      "Csrfpreventiontoken": [
        "tokengoeshere"
      ],
      "Upgrade": [
        "proxmox-backup-protocol-v1"
      ],
      "Content-Type": [
        "application/x-www-form-urlencoded"
      ],
      "X-Real-Ip": [
        "172.16.64.110:57594"
      ],
      "X-Forwarded-For": [
        "172.16.64.110:57594"
      ],
      "X-Forwarded-Proto": [
        "https"
      ]
    },
    "tls": {
      "resumed": false,
      "version": 772,
      "cipher_suite": 4867,
      "proto": "",
      "server_name": "foo.backend.ltd"
    }
  },
  "headers": {
    "Upgrade": [
      "proxmox-backup-protocol-v1"
    ],
    "Date": [
      "Wed, 28 Feb 2024 13:07:39 GMT"
    ]
  },
  "status": 101
}
```

I ended up digging through Caddy's source and found the following:
https://github.com/caddyserver/caddy/blob/03f703a00e006a1e53a2eaf5f4e33a1b3a5e4237/modules/caddyhttp/reverseproxy/streaming.go#L37-L39

The `Upgrade` header for both request and response is returned by the same function, which checks for the existence of `Connection: upgrade` first:
https://github.com/caddyserver/caddy/blob/03f703a00e006a1e53a2eaf5f4e33a1b3a5e4237/modules/caddyhttp/reverseproxy/reverseproxy.go#L1229-L1234

This explained the empty string in the logs further up.

Once the header was included in the response, reverse proxying our protocol via Caddy worked again.

However, this prompted me to read up on the spec of the upgrade mechanism again.

### Regarding The Upgrade Mechanism

Upon looking more closely into RFC 9110[^1] (HTTP/1.1), I've noticed that it's not _actually_ specified whether the `Connection: upgrade` header needs to be included in the response. However, it's included in an example[^2]:

> The following is an example response to the above hypothetical request:
> 
> ```
> HTTP/1.1 101 Switching Protocols
> Connection: upgrade
> Upgrade: websocket
> ```
> [... data stream switches to websocket with an appropriate response (as defined by new protocol) to the "GET /hello" request ...]

The obsoleted RFC 7540[^3] (HTTP/2) contains a similar example[^4]:

> A server that supports HTTP/2 accepts the upgrade with a 101 (Switching Protocols) response.  After the empty line that terminates the 101 response, the server can begin sending HTTP/2 frames. These frames MUST include a response to the request that initiated the upgrade.
>
> For example:
>
> ```
> HTTP/1.1 101 Switching Protocols
> Connection: Upgrade
> Upgrade: h2c
> 
> [ HTTP/2 connection ...
> ```

RFC 9113[^5] (HTTP/2; obsoletes 7450) even deprecates the upgrade mechanism and leaves it unspecified[^6]:
> The HTTP/1.1 Upgrade mechanism is deprecated and no longer specified in this document.

I don't think Caddy is necessarily doing something "wrong" here; it's rather that whether `Connection: upgrade` should / shouldn't / must / mustn't be included in the response isn't specified apart from its usage in examples (AFAIK at least, maybe I'm missing something).

### Closing Thoughts

I've discovered this when debugging the problem I had described in #6132. That issue itself is only tangentially relevant.

Would it make sense to remove the necessity for the existence of `Connection: upgrade` in responses to upgrade requests in `reverse_proxy`? Nginx doesn't seem to care whether it actually is there or not.

Have there been any similar issues to this? I couldn't find anything, but maybe I'm missed something.

If you've made it this far, thank you very much for reading! I realize that this is quite a wall of text, so your attention is appreciated.

[^1]: https://datatracker.ietf.org/doc/html/rfc9110
[^2]: https://datatracker.ietf.org/doc/html/rfc9110#section-7.8-12
[^3]: https://datatracker.ietf.org/doc/html/rfc7540
[^4]: https://datatracker.ietf.org/doc/html/rfc7540#section-3.2
[^5]: https://datatracker.ietf.org/doc/html/rfc9113
[^6]: https://datatracker.ietf.org/doc/html/rfc9113#appendix-B-2.3

I see! So I missed something after all.

> https://datatracker.ietf.org/doc/html/rfc7230#section-6.1 does say this though:
> 
> > When a header field aside from Connection is used to supply control
> > information for or about the current connection, the sender MUST list
> > the corresponding field-name within the Connection header field.

I had seen this - I mistakenly thought that _sender_ would be synonymous to _whoever makes the request_. But of course, someone who _responds_ is also someone who sends something.

The WebSocket RFC wasn't something I had considered reading at all, as I had thought that RFC 9110 was everything I needed regarding the upgrade mechanism. Also, I have to admit that I wasn't really aware that the upgrade mechanism was only (mainly) used in the context of WebSockets. When I saw it being used in RFC 7540[^1], I had mistakenly assumed that it was a little more widespread than that (outside of HTTP/2).

So, all of my questions were answered and my misunderstandings corrected.

It's almost poetic that all of this resulted in a commit that changes only four lines in total - two if you don't count the imports.

Thank you for your thorough reply! It was very insightful.

[^1]: https://datatracker.ietf.org/doc/html/rfc7540#section-3.2