go 1.20.6 host validation breaks setting Host to a unix socket address thus `caddy reload` over UDS

For those using caddy admin API over a unix domain socket, `caddy reload` now fails with `Error: sending configuration to instance: performing request: Post "http://%20/load": http: invalid Host header`. See upstream issue https://github.com/golang/go/issues/61431

Oh lovely. This issue looks like a sticky mess. Will keep an eye on it.

I'm not really sure how to work around this yet.

I don't want to set a Host header at all because RFC 2616 Section 14.26, says:

> A client MUST include a Host header field in all HTTP/1.1 request
> messages. If the requested URI does not include an Internet host
> name for the service being requested, then the Host header field MUST
> be given with an empty value.

If we disregard the RFC (sigh), and set a Host header, what should it be?

If we use a DNS name I'm worried it could enable CORS violations or DNS rebinding attacks, which is what we're trying to prevent.

If we use an IP address, it might not work because the use of Unix sockets implies the lack of support for IP.

In the meantime, the closest I've come is to change the hostname from ` ` (a space) to `unix:127.0.0.1` -- basically a bogus hostname but with an invalid port. Unfortunately, `curl` won't accept this, so you wouldn't be able to use `curl` as a client. It works with `caddy reload` but the point is to enable other HTTP clients to use the API too.

Sigh, I don't know.

What does `empty value` mean? ` ` (a space) certainly does not sound as empty as `` (well, empty).

@NickCao Though I have not checked the code history (thus I could be wrong), I believe the URL host component of ` ` was enough to pass Go's "is not empty" check, and then I presume spaces were trimmed at some point to make it empty afterward. In any case, it used to work. Now we need to figure out a Host value when there is no Host...

Infosec people are telling me I don't need to worry about DNS or CORS in Unix socket servers. So maybe I will just disable those checks for Unix sockets...

Eh, there's no great solution here. If we don't check the Host header it could be anything, which seems stupid, but if we do check it we have to rely on either DNS or IP, which is also stupid.

However, as I'm coding up this patch I'm thinking that maybe we should at least require a host of `127.0.0.1` or `::1` -- this may appear to require IP, which I know is not guaranteed in Unix socket contexts -- but if IP is truly irrelevant to Unix sockets, then this shouldn't matter. And if, for some reason, in some part of a system, it IS used, at least it will resolve to the loopback interface. Even `localhost` has the potential of being resolved to non-loopback (which is dumb, but it's reality; just edit your `/etc/hosts` file accordingly). So at least by requiring `127.0.0.1` or `::1`, we don't lean on DNS to be trustworthy, and we don't necessarily _require_ IP, but if IP is used we should be able to trust it was at least the local machine. We can still enforce CORS, then, in case browsers decide to do something careless in the future.