I can reproduce this problem with Caddy 1.0.3. Multiline headers only work in HTTP.

It seems that the problem is related with HTTP/2.

```
$ curl -kI --http1.1 'https://localhost:8443/'
HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Length: 0
Content-Type: text/html; charset=utf-8
Etag: "px3lc70"
Last-Modified: Sat, 31 Aug 2019 11:02:31 GMT
Server: Caddy
X-My-Test-Header: This is 			a multiline 			header for 			testing.
Date: Sat, 31 Aug 2019 11:12:40 GMT
```

I second what @hectorm wrote. For me it was also not related to protocol (http vs https), but whether or not the connection was made using `HTTP/1.1` or `HTTP/2`. The latter (`HTTP/2`) seemed to drop the CSP header when it was made up out of multiple lines; whereas `1.x` had no problem parsing a CSP header consisting out of multiple lines.

Caddy version v2.4.6

I don't know. I don't think I have the expertise to make the call here by myself.

[HTTP/1.1 used to allow newlines in header field values in RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2), but [RFC 7230 superseded it](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.4), forbidding newlines:

>    Historically, HTTP header field values could be extended over
>    multiple lines by preceding each extra line with at least one space
>    or horizontal tab (obs-fold).  This specification deprecates such
>    line folding except within the message/http media type
>    ([Section 8.3.1](https://datatracker.ietf.org/doc/html/rfc7230#section-8.3.1)).  A sender MUST NOT generate a message that includes
>    line folding (i.e., that has any field-value that contains a match to
>    the obs-fold rule) unless the message is intended for packaging
>    within the message/http media type.

[The HTTP/2 spec in RFC 7540 refers to that RFC and section specifically](https://datatracker.ietf.org/doc/html/rfc7540#section-10.3) when describing what constitutes a malformed request or response:

>    Similarly, HTTP/2 allows header field values that are not valid.
>    While most of the values that can be encoded will not alter header
>    field parsing, carriage return (CR, ASCII 0xd), line feed (LF, ASCII
>    0xa), and the zero character (NUL, ASCII 0x0) might be exploited by
>    an attacker if they are translated verbatim.  Any request or response
>    that contains a character not permitted in a header field value MUST
>    be treated as malformed ([Section 8.1.2.6](https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.6)).  Valid characters are
>    defined by the "field-content" ABNF rule in [Section 3.2 of [RFC7230]](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2).

The Go standard library encodes our HTTP messages/frames, so I'd say if someone has enough concern, I think it's best if they can open an issue with [the Go project](https://github.com/golang/go/issues/new) instead. I do think the inconsistency between HTTP versions is confusing, especially since HTTP/2 refers to HTTP/1.1's behavior in this regard.

The reason I don't want to eagerly jump in and strip newlines from config input ourselves is because it's unclear what newlines are intentional or desired, what to do with leading/trailing spaces on each line, and we'd also want to be careful to strip precisely all characters that are not in the acceptable range as defined by the grammar in the RFC (not just newlines).

Not sure if this is the right place to remark this, or if it warrants a new issue, but what about having different kinds of string values or some kind of modifier? Enabling the user to hint whether or not newlines should preserved. For example, yaml offers `|` and `>` (https://yaml-multiline.info/).

I can reproduce this on Caddy 2.6.2. @alcohol I loved the idea and created #5357 so we can follow this up.

Reproducible on 2.7.4 and 2.6.4.
IMO it should be a configuration error to use multiline headers when http > 1.1 is enabled.
